/** here write your customized css for the application **/

body {
	padding-top: 0px;	
}

footer {
	background-color: #e7e7e7;
	padding: 10px;
	min-height: 100px;
}

/** The carousel **/
.item {
	color: #333;
	background: #e7e7e7;
	height: 300px;
	text-align:center;
}

.carousel-caption {
	color: #666;
	text-shadow: 0 1px 2px #fff;
}

/** Upload form */
#progress { position:relative; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }