<div id="carousel-example-generic" class="carousel slide" data-ride="carousel slide" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      
      <div class="carousel-caption">
		<h3>First Slide</h3>
		<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="item">
    	<div class="carousel-caption">
			<h3>Second Slide</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
    </div>
    <div class="item">
    	<div class="carousel-caption">
			<h3>Third and Last Slide</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

