<div class="row-fluid">
	<form class="span12" role="form" action="/login" method="post">
		<fieldset>
			<legend>Login</legend>
			<br/>
			<div class="row">
				
				<div class="col-md-4 col-md-offset-4">		
					
					<div class="form-group">
						<label for="userName" class="control-label">User Name:</label>
						<input id="userName" class="form-control" name="userName" type="text" value="" />
					</div>
					
					<div class="form-group">
						<label for="password" class="control-label">Password:</label>
						<input id="password" class="form-control" name="password" type="password" value="" />
					</div>
					
				</div>				
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input class="btn btn-primary" type="submit" value="Login" />
					<!--<a href="#" class="btn btn-primary login">Login</a>-->
					<a href="#" class="btn cancel">Cancel</a>
				</div>
			</div>
			
		</fieldset>
		
	</form>
</div>