<li class="list-group-item">
	<div class="btn-group pull-right">
		<a href="#user/edit/<%= userId %>" class="btn btn-primary" ><i class="glyphicon glyphicon-edit"></i></a>
		<a class="btn btn-default delete" data="<%= userId %>"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
	
	<a href="#user/<%= userId %>" class="plain" >
		<img data-src="<%= picture == null ? '': picture %>" style="height:64px;width:64px;" alt="Photo" src="<%= picture == null ? '': picture %>" />
		<h5><%= firstName + ' ' + lastName %></h5>
		<%= address %><br/>
		<i class="icon-earphone"></i> <%= phone %>
	</a>
</li>